@import url(css-reset.css);

@font-face {
    font-family: "PlayfairDisplay SemiBold";
    src: url("../fonts/PlayfairDisplay-SemiBold.ttf") format("truetype"); 
}

@font-face {
    font-family: "PlayfairDisplay Medium";
    src: url("../fonts/PlayfairDisplay-Medium.ttf") format("truetype");
    font-style: normal;
}


@font-face {
    font-family: "Bitter Regular";
    src: url("../fonts/Bitter-Regular.ttf") format("truetype");      
}


/*Общие*/

body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    max-width: 1440px;
    margin: 0 auto;
}

ul{
    list-style-type: none;
}

a{
    font-size: 24px;
    color: black;
    text-decoration: none;
}

h2{
    
    font-size: 24px;
    font-weight: bold;
    
}

h3{
    font-family: "PlayfairDisplay Medium";
    font-size: 16px;
    font-weight: 400;
}

blockquote{
    font-family: "Bitter Regular";
}

/*Хедер и нав*/

header{
    height: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: "PlayfairDisplay SemiBold";
    font-size: 86px;
    margin: auto 22px;
}

.mainmenu{
    margin-right: 20px;
    display: flex;
    gap: 56px;
}

@media (max-width: 900px) { 
    .mainmenu{
        display: none;
    }
}


/*Hero*/

.hero-block{
    height: 630px;
    background-image: url(../img/hero_backImage.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.hero-block p{
    font-size: 20px;
}

.hero-block h2 {
    font-family: "PlayfairDisplay Medium";
    font-size: 86px;
    font-weight: 400;
}

.herocentral{
    box-sizing: border-box;
    padding-top: 10px;
    background-color: white;
    height: 360px;
    max-width: 690px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    gap: 20px;
}


/*biography*/

.bio-block{
    max-width: 1165px;
    margin: 0 auto;
    margin-bottom: 153px;
    display: flex;
    height: 840px;
}

.bio-block h3{
    font-family: "PlayfairDisplay Medium";
    font-size: 86px;
    font-weight: normal;
    line-height: 115px;
}

.bio-image{
    background-image: url('../img/katya_mills.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:49%
}

.bio-title{
    box-sizing: border-box;
    width: 12%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;  
    padding-left: 31px;      
    padding-top: 3px;   
}

.bio-title h2{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 24px;
    margin: 0;
}

.bio-decription{
    box-sizing: border-box;
    width: 39%;
    padding-top: 175px;
    padding-right: 10px;
}



.bio-whois {
    margin-top: 40px;
}

.bio-delimiter {
    height: 6px;
    width: 20px;
    border: none;
    background-color: black;
    display: block;
    margin-left: 0;
    margin-top: 39px;
    
}

.bio-block blockquote{
    font-family: "Bitter Regular";
    font-size: 26px;
    max-width: 370px;
    margin-top: 20px;
    line-height: 115%;
}

.bio-block p strong{
    font-size: 18px;
    font-weight: 500;
}



/*Блок designers*/


.designers-block {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding-bottom: 130px;
}

.designers-list {
    margin-left: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto;
    overflow-x: auto;
    height: 640px;
}

.designer-photo 
{
    height: 538px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
    margin-bottom: 27px;
}

.designer-item 
{
    width: 335.96px;
}

.designer-item-big
{
    width: 572px;
}



.designer-item-big .designer-info {
  margin-left: 240px;
}

.designer-photo-1
{
    background-image: url('../img/JessWonder.png');
}

.designer-photo-2
{
    background-image: url('../img/KameronClein.png');
}

.designer-photo-3
{
    background-image: url('../img/LouisseRed.png');
}

.designers-block h2{
    margin-left: 9.7%;
    margin-bottom: 32px;
}

.designers-block h3{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 3px;
}

.designers-block p {
    margin-bottom: 3px;
}

.designers-block p strong{
    font-weight: bolder;
}


/*Блок testimonials*/

.testimonials-block{
    margin: 0 auto;
    max-width: 1400px;
    height: 760px;
    display: grid;
    grid-template-columns: 17% 32% 70px 43%;
    grid-template-rows: 240px 260px 260px;
    margin-bottom: 151px;
}

.testimonials-sidebar-item-1,
.testimonials-sidebar-item-2,
.testimonials-sidebar-item-3 {
  grid-column: 1;
  position: relative;
}

.testimonials-sidebar-item-1{
    grid-row: 1;

}
.testimonials-sidebar-item-2{
    grid-row: 2;
    
}
.testimonials-sidebar-item-3{
    grid-row: 3;
}

.testimonials-sidebar-item-inner
{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: absolute;
  bottom: 30px;
  right: 40px;
}

.testimonials-image-main{
    grid-column: 2; grid-row: span 3;
    background-image: url('../img/cafe.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.testimonials-block h3{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding-left: 4px;
}

.testimonials-title {
    grid-column: 3; grid-row: span 3;
}
.testimonials-title h2{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-left: 27px;
    
}

.testimonials-text-block{
    grid-column: 4; grid-row: span 3;
}

.testimonials-text-block-inner{
    max-width: 221px;
    margin: 41px auto;
    gap: 41px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.testimonials-block a{
    font-weight: 400;
    font-size: 16px;
}

.testimonials-block blockquote{
    font-size: 32px;
    line-height: 38px;
}

.testimonials-image-small
{
    width: 100%;
    height: 333px;
    background-image: url('../img/bag.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*Strong points*/

.strengths-block{
    font-family: "Bitter Regular";
    font-size: 34px; 
    margin-bottom: 146px;
}

.strengths-section-header{
    margin-left: 258px;
    margin-bottom: 32px;
}

.strengths-carousel {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 20px;
    gap: 20px;
    overflow-x: auto;
}

@supports (display: grid) {
    .strengths-carousel {
        display: grid;
        grid-template-columns: 335px 335px 376.250px 237px;
        gap: 20px;
        overflow-x: auto;
        margin-left: 20px;
    }
}

 .strengths-list-block{
    width: 376.250px;
} 

.strengths-block h2{
    font-family: "Roboto", sans-serif;
}
.strengths-block h3{
    text-align: center;
    font-size: 86px;
    margin-bottom: 32px;
} 

.strengths-block ul{
    margin-left: 120px;
} 

.strengths-block ul li{
    margin-bottom: 8px;
} 

address{
    text-decoration: underline;
    font-style: normal;
    font-weight: 400;
}

address a{
    font-size: inherit;
}

footer a{
    color: white;
}

footer{
    background-color: black;
    color: white;
    height: 166px;
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
    padding-left: 25px;
    align-items: center;
}

footer strong{
    font-weight: 900;
}

.copyright{
    font-weight: 400;
}